{% load static %}

<footer>
    <div class="footer-social-links">
        <a href="https://www.facebook.com/share/17gqi9BZUg/"><img src="{% static 'images/fb.png' %}" alt="NUTSU TechnologiesFacebook Page"></a>
        <a href="https://www.instagram.com/nutsutechnologies?igsh=bHo2azNnbmVtdGwx"><img src="{% static 'images/insta.png' %}" alt="NUTSU Technologies Instagram Page"></a>
        <a href="https://wa.me/+8801635817747"><img src="{% static 'images/whatsapp.png' %}" alt="NUTSU Technologies Whatsapp Account"></a>
        <a href="https://www.youtube.com/@nutsu-technologies"><img src="{% static 'images/youtube.png' %}" alt="NUTSU Technologies YouTube Channel"></a>
        <a href="https://www.linkedin.com/company/nutsu-technologies/"><img src="{% static 'images/linkedin.png' %}" alt="NUTSU Technologies LinkedIn Profile"></a>
        <a href="https://t.me/thegreatuch"><img src="{% static 'images/tg.png' %}" alt="NUTSU Technologies Telegram Account"></a>
        <a href="https://x.com/nutsutechnology"><img src="{% static 'images/x.png' %}" alt="NUTSU Technologies Twitter Page"></a>
    </div>
    <a href="tel:+8801635817747">Phone: +8801635817747</a>
    <a href="mailto:info@nutsutechnologies.com">Email: info@nutsutechnologies.com</a>
    <a href="https://maps.app.goo.gl/4o1G57xsciFAbSSt9">Address: Khiyarjumma, Taraganj, Rangpur</a>
    <a href="{% url 'terms_privacy' %}">Terms & Conditions | Privacy Policy</a>
    <a>Trade Lic: 20258519225000380</a>
    <a href=""><img src="{% static 'images/PaymentBanner1.png' %}" alt="SSLCommerz"></a>
</footer>